body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(rgb(28, 15, 39) 20%, rgb(12, 5, 20));
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#root {
  height: 100vh;
}